@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #23424a;
  padding: 10rem;
}

.container-center {
  width: 50%;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

p {
    font-size: 21px;
    line-height: 2rem;
}

/* 
    colors: 
    background: #23424A
    button: #38CFD9
    button text: #072A2D

*/
