@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem; /* 16px = 1rem -> 21px ~ 1.3rem*/
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem; /* 48px = 3rem*/
}

h2{
  font-size: 2.25rem;
}

.container {
  width: 80%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 3rem;
}

.hero {
  padding: 100px 0;
  background-color: #23424a;
  color: #FFF;
}

.hero_content {
  width: 62%;
}

.hero_image {
  width: 32%;
  align-self: flex-start; /* makes sure image doesn't stretch to fit height, keeps original proportions */
  object-fit: cover;
}

.hero p {
  margin-bottom: 3em;
}

.button {
  display: inline-block;
  color: #23424a;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;

  background-color:#38CFD9;
  padding: .75em 2em;
  border-radius: 5em;
  border: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col + .col {
  margin-left: 2rem;
}

.col {
  text-align: center;
}

.accent-text{
  color: #87629A;
}

.two {
  color: white;
  background-color: #136C72;
}

/* 
    colors: 
    background: #23424A
    button: #38CFD9
    button text: #072A2D

*/
