@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;

  /* colors 
  #23424A
  #87629A
  #136C72
  #3A3A3A
  #38CFD9
  */
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

p {
  font-weight: 400;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
}

.row {
  display: flex;
  justify-content: space-between;
}

header {
  background: #136c72;
  padding: 0.5em 0;
}

.logo {
  margin: 0 1em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}


.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  font-size: .9rem;
}

.nav__item + .nav__item {
  margin-left: 1em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1em;
}

.nav__link--button {
  background: #fff;
  color: #136c72;
  padding: 0.25em 1em;
  border-radius: 10em;
}

.nav__link:hover {
  opacity: 0.75;
}

.hero {
  background-color: #23424a;
  color: #fff;
  padding: 4rem 0;
}

.hero p {
  margin-bottom: 3em;
}

.hero__text {
  width: 60%;
}

.hero__img {
  width: 38%;
  align-self: flex-start;
}

.hero__btn {
  display: inline-block;
  border: none;
  background-color: #38cfd9;
  color: #23424a;
  padding: 0.75em 2.25em;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5em;
  font-size: 1.3rem;
}

.col + .col {
  margin-left: 3rem;
}

.main {
  margin-top: 2rem;
}

.main-content {
  width: 60%;
}

.sidebar {
  width: 40%;
  text-align: center;
  background-color: #136c72;
  color: #fff;
  padding: 1rem 3rem;
}

.accent-color {
  color: #136c72;
}
