

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;

  --brown: #824936;
  --beige: #F3EED9;
  --dark-green: #222C2A;
  --white: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.25rem;
    margin-bottom: .25em;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
}

.container {
    width: 90%;
    max-width: 1128px;
    margin: 0 auto;
    padding: 3em;
}

.row {
    display: flex;
    gap: 2em;
}

.center-text {
    text-align: center;
}

.text-brown {
    color: var(--brown);
}

.text-beige {
    color: var(--beige);
}

.text-white {
    color: var(--white)
}

.bg-green {
    background-color: var(--dark-green);
}

.bg-beige {
    background-color: var(--beige);
}

.bg-brown {
    background-color: var(--brown);
}

.hero {
    min-height: 660px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    width: 95%;
}

.hero p {
    font: 1.125rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 300;
}
