  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;

  /* 
  beige: #F3EED9;
  brown: #824936;
  green: #222C2A; 
  */
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    margin-bottom: 1em;
}

p {
    font-size: 1.135rem;
    margin-bottom: 1em;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2.25rem;
}

.container {
    width: 90%;
    max-width: 1128px;
    margin: 0 auto;
    padding: 3em 0;
}

.row {
    display: flex;
}

.col {
    width: 100%;
}

.col + .col {
    margin-left: 2.5rem;
}

.align-text-center {
    text-align: center;
}

.bg-green{
    background-color: #222C2A;
    color: white;
}

.bg-brown {
    background-color: #824936;
    color: white;
}

.text-brown {
    color: #824936;
}

.text-beige {
    color:#F3EED9;
}

.hero {
    min-height: 660px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #F3EED9;
    text-align: center;
}

.hero h1 {
    width: 45%;
    color: #824936;
}

.hero p {
    font: 1.125rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-weight: 300;
}

